.app__header {
    background-color: var(--color-black);
    color: var(--color-white);
}

.app__header-h1 {
    font-family: var(--font-base);
    color: var(--color-golden);
    letter-spacing: 0.04em;
    line-height: 117px;
    font-size: 80px;
}

.app__header-img img {
    width: 80%;
}